2020.10.30.(금)

# 001 ~ 021

In [1]:
print("Hello World")

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈을, \t는 tab만큼 띄어쓰기를 의미하는 것으로 보인다.

In [6]:
print('오늘은', '일요일')

오늘은 일요일

In [7]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [8]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [9]:
print('first', end=' '); print('second')

first second

In [10]:
print(5/3)

1.6666666666666667

In [11]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [12]:
시가총액 = 29800000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [13]:
s = 'hello'
t = 'python'

In [14]:
print(s+"!", t)

hello! python

In [15]:
2 + 2 *3

8

In [16]:
a = 128
print(type(a))

<class 'int'>

In [17]:
a = '132'
print(type(a))

<class 'str'>

In [18]:
num_str = '720'

In [19]:
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [20]:
num = 100

In [21]:
num_str = str(num)
print(type(num_str))

<class 'str'>

In [22]:
ltr = '15.79'

In [23]:
f = float(ltr)
print(type(f))

<class 'float'>

In [24]:
year = '2020'

In [25]:
this_year = int(year)
print(this_year-1, this_year, this_year+1)

2019 2020 2021

In [26]:
월할부금 = 48584
무이자 = 36
print(월할부금 * 무이자)

1749024

In [27]:
letters = 'python'

In [28]:
print(letters[0], end=' '); print(letters[2])

p t

In [29]:
print(letters[0], letters[2])

p t

----

2020.10.31.(토)

# 022 ~ 030

In [30]:
license_plate = '24가 2210'

In [32]:
print(license_plate[-4:])

2210

In [34]:
string = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [37]:
string2 = '감감감감감사사사사사합합합합합니니니니니다다다다다'
print(string2[3:8:2])

감사사

슬라이싱 할 때 "시작인덱스:끝인덱스:오프셋" 지정 가능

In [43]:
print(string[0:6:2])

홀홀홀

In [44]:
print(string[::2])

홀홀홀

In [50]:
str = 'PYTHON'
print(str[::-1])

NOHTYP

In [51]:
print(str[:-1])

PYTHO

In [52]:
name = 'OHSOOHEE'
print(name[::-1])

EEHOOSHO

## 여기 아래 모름
- 왜 맨 마지막 O가 나오지 않지?

In [72]:
print(name[7:0:-1])

EEHOOSH

In [54]:
print(name[0:7:-1])

In [55]:
phone_number = '010-1111-2222'

In [60]:
new = phone_number.replace('-', ' ')
print(new)

010 1111 2222

In [61]:
no_space = phone_number.replace('-', '')
print(no_space)

01011112222

In [1]:
url = 'http://sharebook.kr'

In [4]:
url[-2:]

'kr'

## 여기 아래 모름
- 결과가 리스트로 나와서 [1]로 했는데, 책에서는 [-1]로 했고 it works

In [10]:
print(url.split('.')[1])

kr

In [12]:
pr = '안뇽하세요 여러분!! 저의 친구들이 모여 창업을 했슙니다!! 관심 있으신 분들 참여해보셔유!! FIND는 어느 분야든, 누구에게나 열려있는 커리어 네트워크를 구축하고자하는것을 목표로 하고있습니다. 멘토매칭, 네트워킹, 각종 커리어 개발세션 등 다양한 프로그램을 준비중인 FIND는 본격적인 활동에 앞서 수요조사를 위한 설문과 뉴스레터 사전구독 신청을 받고있습니다. 아래 웹사이트에서 설문조사 참여 및 구독하시는 모든 분들께 스타벅스 기프티콘을 지급하고있으니 많은 참여 바랍니다. 웹사이트: www.findcareer.net 홍보영상: https://youtu.be/5GaD8GlME0U'

In [16]:
pr = pr.replace('!', '')

In [18]:
pr

'안뇽하세요 여러분 저의 친구들이 모여 창업을 했슙니다 관심 있으신 분들 참여해보셔유 FIND는 어느 분야든, 누구에게나 열려있는 커리어 네트워크를 구축하고자하는것을 목표로 하고있습니다. 멘토매칭, 네트워킹, 각종 커리어 개발세션 등 다양한 프로그램을 준비중인 FIND는 본격적인 활동에 앞서 수요조사를 위한 설문과 뉴스레터 사전구독 신청을 받고있습니다. 아래 웹사이트에서 설문조사 참여 및 구독하시는 모든 분들께 스타벅스 기프티콘을 지급하고있으니 많은 참여 바랍니다. 웹사이트: www.findcareer.net 홍보영상: https://youtu.be/5GaD8GlME0U'

In [21]:
lang = 'python'

In [22]:
lang[0] = 'P'

TypeError: 'str' object does not support item assignment

In [23]:
print(lang)

python

문자열은 수정할 수 없다.

In [24]:
string = 'abcdfe2a354a32a'

In [32]:
string.upper()

'ABCDFE2A354A32A'

## 여기 위에 모름
- upper는 문자형을 위한 메서드 중 하나임
- 메서드는 "변수.메서드()"의 방식으로 표기하는 듯 함
- 문자형 메서드 중 replace, format 등 몇 개 빼고는 저렇게 바로 빈 괄호 ()를 삽입함

In [33]:
string = 'abcd'
string.replace('b', 'B')

# 예상결과는 'aBcd'
print(string)

abcd

아니군요.
문자열은 "변경할 수 없는 자료형"이라 기존의 변수값이 그대로 출력되었다고 함

In [35]:
string.replace('b', 'B')
5# 원본은 그대로 둔 채 변경된 새로운 문자열 객체를 리턴

'aBcd'

----

# 051 ~ 070
### 파이썬 리스트

In [52]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [53]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [54]:
movie_rank.insert(1, '슈퍼맨')

- 리스트의 'insert(인덱스, 원소)' 메서드를 사용하면 특정 위치에 값을 끼워넣을 수 있다.

In [55]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [56]:
del movie_rank[3]

In [57]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [58]:
movie_rank.insert(3, '럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [59]:
movie_rank.remove('럭키')

In [60]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [61]:
movie_rank.pop()

'배트맨'

In [62]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

와 리스트형은 엄청 잘 변하는구나..

In [63]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [64]:
del movie_rank[2:]

In [65]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [70]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [73]:
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [74]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [88]:
print(f"nums 리스트 중 가장 작은 수는 {min(nums)}입니다.")

nums 리스트 중 가장 작은 수는 1입니다.

In [87]:
print(f"max: {max(nums)}")

max: 7

In [86]:
print(sum(nums))

28

```왜 sum(list), min(list), max(list) 이런 건 이렇게 쓰고
del list[n] 이건 이렇게 쓰나. 저 인덱스가 필수여서 그런 건가.. 대중없는 거 같다.```

In [89]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [91]:
print(len(cook))

12

In [92]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [95]:
print(sum(nums)/len(nums))

4.0

In [96]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [97]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [98]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [99]:
nums.append(8)
nums.append(9)
nums.append(10)

In [100]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [106]:
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [117]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [118]:
interest.remove('LG전자')

In [120]:
print(interest)

['삼성전자', 'Naver']

In [121]:
interest.insert(1, 'LG전자')

In [122]:
interest

['삼성전자', 'LG전자', 'Naver']

In [127]:
print(interest[0] + interest[2], 'LG전자' + '아남')

삼성전자Naver LG전자아남

- print 내에서 쉼표는 한 칸 공백을 만들고, +는 공백없음

In [128]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [129]:
print(interest[0], interest[1], interest[2], interest[3], interest[4])

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [130]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [131]:
place = ['서울', '대전', '대구', '부산']
print(" 찍고 ".join(place))

서울 찍고 대전 찍고 대구 찍고 부산

왜 join이라는 애는 또 저렇게 생겼어..?
- 이렇게 잘못 입력했다: ```" 찍고 ", join.place```

In [133]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [136]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [139]:
print(interest[0] + "\n" + interest[2])

삼성전자
Naver

In [140]:
string = "삼성전자/LG전자/Naver"

In [142]:
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [149]:
data = [2, 4, 3, 1, 5, 10, 9]

In [150]:
data.sort()

In [151]:
data

[1, 2, 3, 4, 5, 9, 10]

In [152]:
data2 = sorted(data)

In [153]:
print(data2)

[1, 2, 3, 4, 5, 9, 10]

----

2020.11.2.(월)

# 130 ~ 147
### 파이썬 반복문

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

#### for문의 핵심: 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다 !

In [6]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

위 코드는 아래 실행 코드와 같다.

In [7]:
변수 = "사과"
print(변수)
변수 = "귤"
print(변수)
변수 = "수박"
print(변수)

사과
귤
수박

또는

In [8]:
print("A")
print("B")
print("C")

A
B
C

In [9]:
for 변수 in ['A', 'B', 'C']:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [10]:
변수 = 'A'
print("출력:", 변수)
변수 = 'B'
print("출력:", 변수)
변수 = 'C'
print("출력:", 변수)

출력: A
출력: B
출력: C

In [11]:
for 변수 in ['A', 'B', 'C']:
    b = 변수.lower()
    print('변환:', b)

변환: a
변환: b
변환: c

In [13]:
변수 = 'A'
b = 변수.lower()
print('변환:', b)
변수 = 'B'
b = 변수.lower()
print('변환:', b)
변수 = 'C'
b = 변수.lower()
print('변환:', b)

변환: a
변환: b
변환: c

In [14]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [15]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)

10
20
30

## 여기 위에 궁금
- 값을 바인딩한다는 것이 무슨 의미일까
- 예. 위와 같이 리스트 변수에 데이터를 바인딩하고, 변수를 for문의 자료구조 자리에 넣어줘도 됩니다.
- '묶어서 이름을 지정해준다' 정도의 의미일까. 아님 변수가 이미 이름 지정의 의미를 담으니 묶는다 정도로만 이해하면 될까

In [16]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [18]:
for 변수 in 리스트:
    print("++++")
    print(변수)

++++
10
++++
20
++++
30

허걱. 아래처럼 해야했다. 함정이었다.

In [19]:
print("++++")
for 변수 in 리스트:
    print(변수)

++++
10
20
30

In [20]:
라인 = '------'
for 라인 in [1, 2, 3, 4]:
    print(라인)

1
2
3
4

위 변수에서 라인은 for문 밖에서 변수 선언 되었기 때문에,
for문 안에서 선언되는 라인과는 다른 것 같다?
아이디 값으로 확인해보자

In [23]:
라인 = '------'
id(라인)

140628051265904

In [24]:
for 라인 in [1, 2, 3, 4]:
    print(id(라인))

4411193696
4411193728
4411193760
4411193792

다르구나. 많이 다르네..

In [21]:
for 라인 in [1, 2, 3, 4]:
    print('------')

------
------
------
------

In [26]:
리스트 = [100, 200, 300]
for 금액 in 리스트:
    print(금액+10)

110
210
310

In [27]:
# for문 사용하지 않고 구하기
금액 = 100
print(금액+10)
금액 = 200
print(금액+10)
금액 = 300
print(금액+10)

110
210
310

파이썬 인터프리터가 코드를 실행하는 순서를 익혀서, 한 번에 for문으로 작성할 수 있어야 한다.
- 100 바인딩 - 들여쓰기 코드 실행
- 200 바인딩 - 들여쓰기 코드 실행
- 300 바인딩 - 들여쓰기 코드 실행

In [28]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [30]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [29]:
메뉴 = "김밥"
print("오늘의 메뉴:", 메뉴)
메뉴 = "라면"
print("오늘의 메뉴:", 메뉴)
메뉴 = "튀김"
print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [31]:
리스트 = ['SK하이닉스', '삼성전자', 'LG전자']
for 길이 in 리스트:
    print(len(길이))

6
4
4

In [32]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [34]:
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [35]:
동물 = 'dog'
print(동물[0])
동물 = 'cat'
print(동물[0])
동물 = 'parrot'
print(동물[0])

d
c
p

In [38]:
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
    print("3 x", 곱셈)

3 x 1
3 x 2
3 x 3

In [41]:
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
    print("3 x " + str(곱셈))

3 x 1
3 x 2
3 x 3

In [51]:
for 곱셈 in 리스트:
    print("3 x " + str(곱셈) + " = " + str(3*곱셈))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

#### 변수에 바인딩된 값은 숫자이기 때문에 변환 후에 문자열 연산을 사용할 수 있다 !
- 즉 문자 간 더하기 연산은 '문자끼리만' 가능하다.

In [56]:
# 문자열 포맷팅으로 해보기
for 곱셈 in 리스트:
    print(f"3 x {곱셈} = {3*곱셈}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [57]:
# 문자열 포맷팅으로 해보기
for 곱셈 in 리스트:
    print("3 x {} = {}".format(곱셈, 3*곱셈))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9