2020.10.30.(금)

# 001 ~ 021

In [1]:
print("Hello World")

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n은 줄바꿈을, \t는 tab만큼 띄어쓰기를 의미하는 것으로 보인다.

In [6]:
print('오늘은', '일요일')

오늘은 일요일

In [7]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [8]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [9]:
print('first', end=' '); print('second')

first second

In [10]:
print(5/3)

1.6666666666666667

In [11]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [12]:
시가총액 = 29800000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [13]:
s = 'hello'
t = 'python'

In [14]:
print(s+"!", t)

hello! python

In [15]:
2 + 2 *3

8

In [16]:
a = 128
print(type(a))

<class 'int'>

In [17]:
a = '132'
print(type(a))

<class 'str'>

In [18]:
num_str = '720'

In [19]:
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [20]:
num = 100

In [21]:
num_str = str(num)
print(type(num_str))

<class 'str'>

In [22]:
ltr = '15.79'

In [23]:
f = float(ltr)
print(type(f))

<class 'float'>

In [24]:
year = '2020'

In [25]:
this_year = int(year)
print(this_year-1, this_year, this_year+1)

2019 2020 2021

In [26]:
월할부금 = 48584
무이자 = 36
print(월할부금 * 무이자)

1749024

In [27]:
letters = 'python'

In [28]:
print(letters[0], end=' '); print(letters[2])

p t

In [29]:
print(letters[0], letters[2])

p t

----

2020.10.31.(토)

# 022 ~ 030

In [30]:
license_plate = '24가 2210'

In [32]:
print(license_plate[-4:])

2210

In [34]:
string = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [37]:
string2 = '감감감감감사사사사사합합합합합니니니니니다다다다다'
print(string2[3:8:2])

감사사

슬라이싱 할 때 "시작인덱스:끝인덱스:오프셋" 지정 가능

In [43]:
print(string[0:6:2])

홀홀홀

In [44]:
print(string[::2])

홀홀홀

In [50]:
str = 'PYTHON'
print(str[::-1])

NOHTYP

In [51]:
print(str[:-1])

PYTHO

In [2]:
name = 'PYTHON'
print(name[::-1])

NOHTYP

## 여기 아래 모름
- 왜 맨 마지막 O가 나오지 않지?

In [12]:
print(name[5::-1]) # 5를 6이나 7로 바꿔도 동일하게 출력

NOHTYP

In [54]:
print(name[0:7:-1])

In [55]:
phone_number = '010-1111-2222'

In [60]:
new = phone_number.replace('-', ' ')
print(new)

010 1111 2222

In [61]:
no_space = phone_number.replace('-', '')
print(no_space)

01011112222

In [3]:
url = 'http://sharebook.kr'

In [4]:
url[-2:]

'kr'

In [7]:
print(url.split('.')[1])

kr

In [8]:
url.split('.')[1] == url.split('.')[-1]

True

In [12]:
pr = '안뇽하세요 여러분!! 저의 친구들이 모여 창업을 했슙니다!! 관심 있으신 분들 참여해보셔유!! FIND는 어느 분야든, 누구에게나 열려있는 커리어 네트워크를 구축하고자하는것을 목표로 하고있습니다. 멘토매칭, 네트워킹, 각종 커리어 개발세션 등 다양한 프로그램을 준비중인 FIND는 본격적인 활동에 앞서 수요조사를 위한 설문과 뉴스레터 사전구독 신청을 받고있습니다. 아래 웹사이트에서 설문조사 참여 및 구독하시는 모든 분들께 스타벅스 기프티콘을 지급하고있으니 많은 참여 바랍니다. 웹사이트: www.findcareer.net 홍보영상: https://youtu.be/5GaD8GlME0U'

In [16]:
pr = pr.replace('!', '')

In [18]:
pr

'안뇽하세요 여러분 저의 친구들이 모여 창업을 했슙니다 관심 있으신 분들 참여해보셔유 FIND는 어느 분야든, 누구에게나 열려있는 커리어 네트워크를 구축하고자하는것을 목표로 하고있습니다. 멘토매칭, 네트워킹, 각종 커리어 개발세션 등 다양한 프로그램을 준비중인 FIND는 본격적인 활동에 앞서 수요조사를 위한 설문과 뉴스레터 사전구독 신청을 받고있습니다. 아래 웹사이트에서 설문조사 참여 및 구독하시는 모든 분들께 스타벅스 기프티콘을 지급하고있으니 많은 참여 바랍니다. 웹사이트: www.findcareer.net 홍보영상: https://youtu.be/5GaD8GlME0U'

In [21]:
lang = 'python'

In [22]:
lang[0] = 'P'

TypeError: 'str' object does not support item assignment

In [23]:
print(lang)

python

문자열은 수정할 수 없다.

In [24]:
string = 'abcdfe2a354a32a'

In [32]:
string.upper()

'ABCDFE2A354A32A'

## 여기 위에 모름
- upper는 문자형을 위한 메서드 중 하나임
- 메서드는 "변수.메서드()"의 방식으로 표기하는 듯 함
- 문자형 메서드 중 replace, format 등 몇 개 빼고는 저렇게 바로 빈 괄호 ()를 삽입함

In [33]:
string = 'abcd'
string.replace('b', 'B')

# 예상결과는 'aBcd'
print(string)

abcd

아니군요.
문자열은 "변경할 수 없는 자료형"이라 기존의 변수값이 그대로 출력되었다고 함

In [35]:
string.replace('b', 'B')
5# 원본은 그대로 둔 채 변경된 새로운 문자열 객체를 리턴

'aBcd'

----

# 051 ~ 070
### 파이썬 리스트

In [52]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [53]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [54]:
movie_rank.insert(1, '슈퍼맨')

- 리스트의 'insert(인덱스, 원소)' 메서드를 사용하면 특정 위치에 값을 끼워넣을 수 있다.

In [55]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [56]:
del movie_rank[3]

In [57]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [58]:
movie_rank.insert(3, '럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [59]:
movie_rank.remove('럭키')

In [60]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [61]:
movie_rank.pop()

'배트맨'

In [62]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

와 리스트형은 엄청 잘 변하는구나..

In [63]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [64]:
del movie_rank[2:]

In [65]:
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [70]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [73]:
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [74]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [88]:
print(f"nums 리스트 중 가장 작은 수는 {min(nums)}입니다.")

nums 리스트 중 가장 작은 수는 1입니다.

In [87]:
print(f"max: {max(nums)}")

max: 7

In [86]:
print(sum(nums))

28

```왜 sum(list), min(list), max(list) 이런 건 이렇게 쓰고
del list[n] 이건 이렇게 쓰나. 저 인덱스가 필수여서 그런 건가.. 대중없는 거 같다.```

In [89]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [91]:
print(len(cook))

12

In [92]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [95]:
print(sum(nums)/len(nums))

4.0

In [96]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [97]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [98]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [99]:
nums.append(8)
nums.append(9)
nums.append(10)

In [100]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [106]:
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [117]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [118]:
interest.remove('LG전자')

In [120]:
print(interest)

['삼성전자', 'Naver']

In [121]:
interest.insert(1, 'LG전자')

In [122]:
interest

['삼성전자', 'LG전자', 'Naver']

In [127]:
print(interest[0] + interest[2], 'LG전자' + '아남')

삼성전자Naver LG전자아남

- print 내에서 쉼표는 한 칸 공백을 만들고, +는 공백없음

In [128]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [129]:
print(interest[0], interest[1], interest[2], interest[3], interest[4])

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [130]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [131]:
place = ['서울', '대전', '대구', '부산']
print(" 찍고 ".join(place))

서울 찍고 대전 찍고 대구 찍고 부산

왜 join이라는 애는 또 저렇게 생겼어..?
- 이렇게 잘못 입력했다: ```" 찍고 ", join.place```

In [133]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [136]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [139]:
print(interest[0] + "\n" + interest[2])

삼성전자
Naver

In [140]:
string = "삼성전자/LG전자/Naver"

In [142]:
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [149]:
data = [2, 4, 3, 1, 5, 10, 9]

In [150]:
data.sort()

In [151]:
data

[1, 2, 3, 4, 5, 9, 10]

In [152]:
data2 = sorted(data)

In [153]:
print(data2)

[1, 2, 3, 4, 5, 9, 10]

----

2020.11.2.(월)

# 130 ~ 147
### 파이썬 반복문

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

#### for문의 핵심: 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다 !

In [6]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

위 코드는 아래 실행 코드와 같다.

In [7]:
변수 = "사과"
print(변수)
변수 = "귤"
print(변수)
변수 = "수박"
print(변수)

사과
귤
수박

또는

In [8]:
print("A")
print("B")
print("C")

A
B
C

In [9]:
for 변수 in ['A', 'B', 'C']:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [10]:
변수 = 'A'
print("출력:", 변수)
변수 = 'B'
print("출력:", 변수)
변수 = 'C'
print("출력:", 변수)

출력: A
출력: B
출력: C

In [11]:
for 변수 in ['A', 'B', 'C']:
    b = 변수.lower()
    print('변환:', b)

변환: a
변환: b
변환: c

In [13]:
변수 = 'A'
b = 변수.lower()
print('변환:', b)
변수 = 'B'
b = 변수.lower()
print('변환:', b)
변수 = 'C'
b = 변수.lower()
print('변환:', b)

변환: a
변환: b
변환: c

In [14]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [15]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)

10
20
30

## 여기 위에 궁금
- 값을 바인딩한다는 것이 무슨 의미일까
- 예. 위와 같이 리스트 변수에 데이터를 바인딩하고, 변수를 for문의 자료구조 자리에 넣어줘도 됩니다.
- '묶어서 이름을 지정해준다' 정도의 의미일까. 아님 변수가 이미 이름 지정의 의미를 담으니 묶는다 정도로만 이해하면 될까

In [16]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [18]:
for 변수 in 리스트:
    print("++++")
    print(변수)

++++
10
++++
20
++++
30

허걱. 아래처럼 해야했다. 함정이었다.

In [19]:
print("++++")
for 변수 in 리스트:
    print(변수)

++++
10
20
30

In [20]:
라인 = '------'
for 라인 in [1, 2, 3, 4]:
    print(라인)

1
2
3
4

위 변수에서 라인은 for문 밖에서 변수 선언 되었기 때문에,
for문 안에서 선언되는 라인과는 다른 것 같다?
아이디 값으로 확인해보자

In [23]:
라인 = '------'
id(라인)

140628051265904

In [24]:
for 라인 in [1, 2, 3, 4]:
    print(id(라인))

4411193696
4411193728
4411193760
4411193792

다르구나. 많이 다르네..

In [21]:
for 라인 in [1, 2, 3, 4]:
    print('------')

------
------
------
------

In [26]:
리스트 = [100, 200, 300]
for 금액 in 리스트:
    print(금액+10)

110
210
310

In [27]:
# for문 사용하지 않고 구하기
금액 = 100
print(금액+10)
금액 = 200
print(금액+10)
금액 = 300
print(금액+10)

110
210
310

파이썬 인터프리터가 코드를 실행하는 순서를 익혀서, 한 번에 for문으로 작성할 수 있어야 한다.
- 100 바인딩 - 들여쓰기 코드 실행
- 200 바인딩 - 들여쓰기 코드 실행
- 300 바인딩 - 들여쓰기 코드 실행

In [28]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [30]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [29]:
메뉴 = "김밥"
print("오늘의 메뉴:", 메뉴)
메뉴 = "라면"
print("오늘의 메뉴:", 메뉴)
메뉴 = "튀김"
print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [31]:
리스트 = ['SK하이닉스', '삼성전자', 'LG전자']
for 길이 in 리스트:
    print(len(길이))

6
4
4

In [32]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [34]:
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [35]:
동물 = 'dog'
print(동물[0])
동물 = 'cat'
print(동물[0])
동물 = 'parrot'
print(동물[0])

d
c
p

In [38]:
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
    print("3 x", 곱셈)

3 x 1
3 x 2
3 x 3

In [41]:
리스트 = [1, 2, 3]
for 곱셈 in 리스트:
    print("3 x " + str(곱셈))

3 x 1
3 x 2
3 x 3

In [51]:
for 곱셈 in 리스트:
    print("3 x " + str(곱셈) + " = " + str(3*곱셈))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

#### 변수에 바인딩된 값은 숫자이기 때문에 변환 후에 문자열 연산을 사용할 수 있다 !
- 즉 문자 간 더하기 연산은 '문자끼리만' 가능하다.

In [56]:
# 문자열 포맷팅으로 해보기
for 곱셈 in 리스트:
    print(f"3 x {곱셈} = {3*곱셈}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [57]:
# 문자열 포맷팅으로 해보기
for 곱셈 in 리스트:
    print("3 x {} = {}".format(곱셈, 3*곱셈))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

----

2020.11.3.(화)

# 148 ~ 150
### 파이썬 반복문

In [5]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트:
    if 변수 == "가":
        pass
    else:
        print(변수)

나
다
라

In [3]:
변수 = "가"
print(변수)
변수 = "나"
print(변수)
변수 = "다"
print(변수)
변수 = "라"
print(변수)

가
나
다
라

In [7]:
리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for i in 나다라:
    print(i)

나
다
라

In [8]:
for i in 리스트[1:]:
    print(i)

나
다
라

In [15]:
for i in 리스트:
    if i == '나':
        pass
    elif i == '라':
        pass
    else:
        print(i)

가
다

In [21]:
가다 = 리스트[0], 리스트[2]

In [22]:
for i in 가다:
    print(i)

가
다

In [27]:
슬라이싱 = 리스트[::2]

In [28]:
슬라이싱

['가', '다']

In [26]:
for i in 리스트[::2]:
    print(i)

가
다

리스트 슬라이싱 다시 한번 짚고 넘어가기
- `리스트[시작:끝:증감폭]`

In [30]:
리스트[::-1]

['라', '다', '나', '가']

In [31]:
for i in 리스트[::-1]:
    print(i)

라
다
나
가

# 071 ~ 080
### 파이썬 튜플

In [32]:
my_variable = ()

In [34]:
print(type(my_variable))

<class 'tuple'>

In [36]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [37]:
n = (1)
print(n)

1

In [38]:
print(type(n))

<class 'int'>

In [39]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [40]:
l = [1, 2, 3]
l[0] = 'a'

In [41]:
print(l)

['a', 2, 3]

In [43]:
# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하나, 사용자 편으를 위해 괄호 없이도 동작한다.
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [44]:
t = ('a', 'b', 'c')

In [45]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [46]:
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [48]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(type(interest))

<class 'tuple'>

In [51]:
interest = list(interest)

In [52]:
print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [54]:
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [58]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [59]:
temp

('apple', 'banana', 'cake')

In [64]:
a, b, c = temp

In [65]:
print(b)

banana

### 여기 위에 정확히 모름

In [72]:
t = tuple(range(1, 100))
for i in t:
    if i % 2 == 1:
        pass
    else:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [73]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [74]:
data = tuple(range(2, 100, 3))
print(data)

(2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98)

# 031 ~ 050
### 파이썬 문자열

In [76]:
a = '3'
b = '4'
print(a+b)

34

In [77]:
print('Hi'*3)

HiHiHi

In [78]:
print('-'*80)

--------------------------------------------------------------------------------

In [80]:
t1 = 'python'
t2 = 'java'
(t1 + ' ' + t2 + ' ')*4

'python java python java python java python java '

In [81]:
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

In [89]:
print("이름: %s 나이: " % name1)
print("이름: %s 나이: " % name2)

이름: 김민수 나이:
이름: 이철희 나이:

기존에 name1, age1 이렇게로만 연결하려고 하니 오류 났다.
괄호로 묶어줘야 각 요소에 매칭된다.

In [91]:
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [92]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [93]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [99]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(',','')
상장주식수 = int(상장주식수)

In [100]:
print(상장주식수)

5969782550

In [101]:
type(상장주식수)

int

In [102]:
분기 = '2020/03(E) (IFRS연결)'

In [104]:
분기.split('(E)')[0]

'2020/03'

In [106]:
분기[:7]

'2020/03'

In [109]:
data = "    삼성전자    "
data1 = data.strip()

In [110]:
print(data1)

삼성전자

In [112]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [115]:
h = 'hello'
h.capitalize()

'Hello'

In [116]:
file_name = '보고서.xlsx'

In [119]:
file_name.endswith('xslx')

False

In [120]:
file_name.endswith('xlsx')

True

In [124]:
# xlsx 또는 xls로 끝나는 경우 확인
# 여기서도 튜플 형식으로 기재하는 게 중요 (괄호 2번)
file_name.endswith(('xlsx', 'xls'))

True

In [125]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [126]:
a = "Hello World"
a.split(" ")

['Hello', 'World']

In [127]:
ticker = 'btc_krw'
ticker.split('_')

['btc', 'krw']

In [128]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [130]:
data = "039890   "
id(data)

140628060880368

In [131]:
data = data.rstrip()
id(data)

140628051999152

In [132]:
print(data)

039890

---

## 여기까지 100문제 완료 !

# 081 ~ 098
### 파이썬 딕셔너리

별 표현식 : 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 한다. <br>
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있다. <br>
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없다.

In [3]:
a, b, *c = (0, 1, 2, 3, 4, 5)

In [4]:
a

0

In [5]:
b

1

In [6]:
c

[2, 3, 4, 5]

In [7]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [8]:
*valid_score, not1, not2 = (8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4)

In [12]:
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [10]:
not1

7.8

In [11]:
not2

9.4

In [14]:
not1, *valid_score, not2 = (8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4)
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [15]:
*valid_score, not1, not2 = (8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4)
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [16]:
temp = {}
type(temp)

dict

In [19]:
아이스크림 = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [20]:
아이스크림['죠스바'] = 1200
아이스크림['월드콘'] = 1500
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [24]:
print('메로나 가격:', 아이스크림['메로나'])

메로나 가격: 1000

In [26]:
아이스크림['메로나'] = 1300
print(아이스크림)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [30]:
del 아이스크림['메로나']
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

- del을 활용하여 값을 지우는 것은 리스트를 닮았다.

In [32]:
inventory = {"메로나": [300, 20],
            "비비빅": [400, 3],
            "죠스바": [250, 3]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 3]}

In [35]:
print(f"{inventory['메로나'][0]} 원")

300 원

In [36]:
print(inventory['메로나'][1], "개")

20 개

In [38]:
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 3], '월드콘': [500, 7]}

In [15]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [16]:
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [17]:
sum(icecream.values())

6700

In [18]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

In [19]:
icecream.update(new_product)

In [20]:
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

### 여기 위에 모름
여기서 icecream을 데이터프레임화 하려면?

2020.11.5.(목)

# 099 ~ 100
### 파이썬 딕셔너리

In [23]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [39]:
result = dict(zip(keys, vals))
# zip이라는 함수를 사용하면 2개의 길이가 같은 리스트, 튜플을 한개의 딕셔너리로 만드는 것이 정말 간단해집니다.

In [40]:
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [41]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [42]:
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 101 ~ 110
### 파이썬 분기문

In [45]:
type(False)

bool

In [46]:
print(3 == 5)

False

In [47]:
print(3<5)

True

In [48]:
x = 4
print(1<x<5)

True

In [53]:
print((3==3) or (4==3))

True

### 여기 위에 헷갈림
둘 중 하나가 참이면 or 로 이어지는 경우 참이다. 대략 알겠는데 정확히 모르겠다.

In [54]:
print(3=>4)

SyntaxError: invalid syntax (<ipython-input-54-170b4e660e0b>, line 1)

에러나는 이유는? 부등호를 먼저 써줘야 하는 건 안다.
교재에서는 그냥 지원하지 않는 연산자라고 한다.

In [55]:
if 4<3:
    print("Hello World")
# 출력결과 없을 것으로 예상

In [57]:
if 4>3:
    print("Hello World")
# else 이런 거 없이도 그냥 돌아가는 if

Hello World

In [59]:
if 4<3:
    print("Hello World.")
else:
    print("Hi, there.")
# Hi, there. 출력 예상

Hi, there.

In [60]:
if True:
    print("1")
    print("2")
else:
    print("3")
print("4")
# 뭘 예상하라는...

1
2
4

### 이거 왜 되지..

In [61]:
if False:
    print("1")
    print("2")
else:
    print("3")
print("4")

3
4

In [62]:
if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")
# 예상 출력결과 3/n 5

3
5

# 151 ~ 160
### 파이썬 반복문

In [63]:
리스트 = [3, -20, -3, 44]
# 리스트의 음수만 출력하기

In [65]:
for i in 리스트:
    if i < 0:
        print(i)
#     else:
#         pass

-20
-3

### 여기 위에 모름
위의 경우에서는 else: /n pass를 쓰는 게 맞는지 아닌지 잘 모르겠어요?
pass의 명확한 용도를 모르겠다, 가 맞을 거 같아요. 아 혹시 조건에 따라 += 이렇게 i 자체에 변형을 주는 경우 반드시 필요한 친구이려나 싶네요.

In [67]:
리스트 = [13, 21, 12, 14, 30, 18]
# 20보다 작은 3의 배수

In [68]:
for i in 리스트:
    if i < 20 and i % 3 ==0:
        print(i)

12
18

In [69]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [70]:
리스트 = ["A", "b", "c", "D"]

In [71]:
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [72]:
for i in 리스트:
    if i.isupper():
        print(i)

# isupper에서 이미 대문자인지를 판별하고 있기 때문에 분기문이 필요 없는 듯

A
D

In [73]:
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [75]:
# if not(논리연산자) 사용도 가능
for i in 리스트:
    if not i.isupper():
        print(i)

b
c

In [77]:
for i in 리스트:
    if i.isupper() != True:
        print(i)

b
c

In [78]:
리스트 = ['dog', 'cat', 'parrot']

In [80]:
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

힌트
1. 첫번째 문자를 가져온다.
2. 가져온 문자를 대문자로 바꾼다.
3. 바꾼 문자를 나머지 문자와 붙인다.
4. 반복

In [88]:
리스트[0][0].upper()+리스트[0][1:]

'Dog'

In [89]:
for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [90]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

In [96]:
for i in 리스트:
    리스트2 = i.split('.')[:1]
    for o in 리스트2:
        print(o)

hello
ex01
intro

인덱싱으로 하면 프린트 값이 텍스트로 나오는데 슬라이싱 [1:]을 해서 리스트 형태로 나옴.
액자식 반복문을 그래서 했음.

In [98]:
for 변수 in 리스트:
    split = 변수.split('.')
    print(split[0])

hello
ex01
intro

In [129]:
for i in 리스트:
    리스트2 = i.split('.')[0]
    print(리스트2)

intra
intra
define
run

In [130]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

In [114]:
리스트[0].split('.')[-1] == 'h'

True

In [115]:
for i in 리스트:
    확장자 = i.split('.')[-1]
    if 확장자 == 'h':
        print(i)

intra.h
define.h

In [142]:
for i in 리스트:
    확장자 = i.split('.')[1]
    if 확장자 == 'h':
        print(i)
    elif 확장자 == 'c':
        print(i)
    else:
        pass

intra.h
intra.c
define.h

```if 확장자 == 'h' or 'c'``` 따윈 먹히지 않았다! <br>
그래서 난 위와같이 했지만, 아래와 같은 방법이 있기도 하다. <br>
```if (확장자 == 'h') or (확장자 == 'c')```

### 위에 이거 왜 안 되는지

## [번외] 야 너두 구구단 만들기 해봐

In [2]:
구구단 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for i in 구구단:
    print(f"{i}단 시작한다.")
    for o in 구구단:
        print(f"{i} x {o} = {i*o}")
    print("-"*20)

1단 시작한다.
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
--------------------
2단 시작한다.
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3단 시작한다.
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4단 시작한다.
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5단 시작한다.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6단 시작한다.
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7단 시작한다.
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8단 시작한다.
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9단 시작한다.
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

---
2020.11.6.(금)

# 201 ~ 210
### 파이썬 함수

In [5]:
def print_coin():
    return print("비트코인")

In [6]:
print_coin()

비트코인

In [10]:
print_coin(), print_coin(), print_coin(), print_coin()

비트코인
비트코인
비트코인
비트코인

(None, None, None, None)

In [12]:
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [22]:
def print_coins():
    for i in range(20):
        print("비트코인")

### 여기 위에 모름
여기는 리턴을 쓰면 안 되는 건지, print, return 차이 이해 불명확

In [23]:
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [25]:
# 아래 코드에 에러가 발생하는 이유? 정의되기 전에 함수를 써서
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [26]:
def hello():
    print("Hi")
hello()

Hi

In [27]:
def message():
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [28]:
print("A")

def message():
    print("B")

print("C")
message() # 읽기 어려운 코드의 예라고 함

A
C
B

In [29]:
print("A")
def message1():
    print("B")
print("C")
def message2():
    print("D")
message1()
print("E")    
message2() # 읽기 어려운 코드의 예라고 함

A
C
B
E
D

In [30]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [34]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range(3):
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

---
2020.11.7.(토)

# 211 ~ 
### 파이썬 함수

In [36]:
def 함수(문자열):
    print(문자열)
    
함수("안녕")
함수("Hi")

안녕
Hi

In [38]:
def fun(a, b):
    print(a+b)

fun(3, 4)
fun(7, 8)

7
15

In [40]:
def 함수(문자열) :
    print(문자열)